[monitor:///var/log/auth.log]
disabled = 0
index = main
sourcetype = linux_auth

[monitor:///var/log/syslog]
disabled = 0
index = main
sourcetype = syslog

[monitor:///var/log/audit/audit.log]
disabled = 0
index = main
sourcetype = linux_audit
